.navbar {
  width: 100%;
  padding: 24px 6%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #fff7fb;
  border-bottom: 1px solid #f3d6e4;
  position: sticky;
  top: 0;
  z-index: 100;
}

.logo {
  text-decoration: none;
  color: #c2185b;
  font-size: 28px;
  font-weight: 800;
  letter-spacing: 1px;
   white-space: nowrap;
}

.nav-links {
  display: flex;
  align-items: center;
  gap: 26px;
}

.nav-links a {
  text-decoration: none;
  color: #222;
  font-weight: 500;
  transition: 0.3s;
}

.nav-links a:hover {
  color: #c2185b;
}

.admin-link {
  background: #c2185b;
  color: white !important;
  padding: 10px 22px;
  border-radius: 25px;
  font-weight: 700 !important;
}

.admin-link:hover {
  background: #a4144c;
}

@media (max-width: 900px) {
  .navbar {
    flex-direction: column;
    gap: 18px;
    align-items: flex-start;
  }

  .nav-links {
    flex-wrap: wrap;
    gap: 16px;
  }
}

@media (max-width: 600px) {
  .logo {
    font-size: 24px;
  }

  .nav-links {
    font-size: 14px;
  }
}