<header class="navbar">
  <a routerLink="/" class="logo">Mary Nails</a>

  <nav class="nav-links">
    <a routerLink="/">Inicio</a>
    <a routerLink="/servicios">Servicios</a>
    <a routerLink="/galeria">Galería</a>
    <a routerLink="/reservas">Reservas</a>
    <a routerLink="/contacto">Contacto</a>

    <a routerLink="/login" *ngIf="sinSesion" class="btn-client">Cliente</a>
    <a routerLink="/admin/login" *ngIf="sinSesion" class="btn-admin">Admin</a>

    <a routerLink="/cliente/perfil" *ngIf="clienteLogueado">Mi Perfil</a>
    <a routerLink="/cliente/mis-citas" *ngIf="clienteLogueado">Mis citas</a>
    <a routerLink="/cliente/calificar-servicio" *ngIf="clienteLogueado">Calificar</a>

    <button type="button" class="logout-link" *ngIf="clienteLogueado" (click)="cerrarSesion()">Cerrar sesión</button>
  </nav>
</header>
